* {
  font-family: "Roboto", sans-serif;
}

html {
  /* background-color: #3f2f2f;
  background-image: linear-gradient(0deg, #0d0747 0%, #666460 50%, #212121 90%); */
  background-attachment: fixed !important;
    

  background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(#908f8f), to(#000000));
  
}

body {
  margin: 0;
}


/* -------------------------contact page style------------------------- */
.sendbtn {
  background-color: blue;
  color: rgb(191, 201, 211);
  border-radius: 4px;
  border: none;
  padding: 25px;
  transition-duration: 0.4s;
}

.sendbtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #4caf50; /* Green */
  color: white;
  cursor: pointer;
}

.contactcontainer {
  display: flex;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
 flex-direction: column;
}

.contactbox {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 15px;
  border: solid 3px rgb(21, 21, 25);
  border-radius: 5px;
  background: rgb(67, 67, 67);
  color: white;
  height: auto;
}

input.contactbox:focus {
  outline-width: 0;
}

/* -------------------------homepage style------------------------- */

.homepage-container {
display: flex;
position: fixed;
margin-left: auto;
margin-right: auto;
}

.text-container {
  flex-direction: column;
  max-width: 675px;
  color: #adb7bd;
}

.changing-text {
  display: flex;
  font-size: 400%;
  height: 40px;
  text-align: center;
  text-shadow: 5px 6px 6px rgba(0, 0, 0, 0.6);
  padding-left: 100px;

}

.profilepicContainer {
  display: flex;
  width: 400px;
  height: 28%;

}

.slideshow-container-main {
  display: flex;
  
}









.slideshow-container {
  position: relative;
  
}

.slideshow-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow-image.active {
  opacity: 1;
}

.slideshow-image.inactive {
  opacity: 0;
}

.slideshow-container img {
max-width: 650px;
border-radius: 20px;
}

.profilepic {
  /* max-width: 30%;
    align-content: flex-start; */
  border-radius: 20%;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  min-height: 450px;
}



/* ------------------------- About Page Style ------------------------ */

.about-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  color: #adb7bd
}

.title {
  font-size: 300%;
  text-decoration: underline black;
  color: #b4b9bb;
  text-shadow: 3px 3.5px 4px rgba(0, 0, 0, 0.6);
}

.myworkpics {
  width: 500px;
  height: 300px;
  
}

.workPicContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 160px;
}


.main-container {
  text-align: center;
  display: flex;
  padding-top: 5%;
  /* background-color: #000000;
    background-image: linear-gradient(48deg, #000000 10%, #6d6d6d 58%, #f3ebf3 83%); */
  
  
  /* padding-bottom: 200px; */
  
/* justify-content: center; */
}

.skillList {
  list-style: none;
}

.name {
  font-size: 2.5rem;
}

/* ------------------------Footer styling-------------------------- */

.footerContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  text-align: center;
  color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2.5 1rem;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar ul li {
  display: inline-block;
  margin-right: 1em;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: .25rem;
  
}

.menu:hover {
  background-color: #777;
  border-radius: 25%;
}